body,
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn {
  background-color: rgb(55, 7, 100);
  color: white;
  width: 200px;
  height: 100px;
  border: none;
  border-radius: 8px;
  font-size: 36px;
  transition: all 0.3s;
}

.btn:hover {
  background-color: rgb(132, 0, 255);
  transform: scale(1.1);
}

.light {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.stand {
  background-color: gray;
  width: 120px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
}

.red-start {
  background-color: rgb(97, 0, 0);
}

.yellow-start {
  background-color: rgb(114, 114, 0);
}

.green-start {
  background-color: rgb(0, 85, 0);
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
